body{
	background-color: white;
  color: #222;
}

div.hover-info{
  position: absolute;
  z-index: -1;
}

svg {
  font: 10px sans-serif;
}

text{
  fill: #222;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke-width: 1.0px;
  stroke: #222;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  fill: none;
  stroke: #222;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #222;
}

.y text, .x text{
	fill: #222;
	font-size: 18px;
	font-family: "sans-serif";
}

.x .tick line{
  stroke-width: 1;
}

.y .tick line{
  stroke-width: 1;
}

.team-node text{
  font-size: 14px;
  z-index: 10;
  pointer-events: none;
}

.team-node circle{
  stroke: #055;
}